$primaryColor: #ff9800;
$primaryTextColor: #ffffff;

$logoBgColor: #ffa726;
$topbarBgColor: #ff9800;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #ffb74d;
$lightMenuitemActiveTextColor: #ff9800;
$darkMenuitemActiveTextColor: #ff9800;
$horizontalMenuitemActiveBgColor: #ff9800;
$horizontalMenuitemActiveTextColor: #000000;
$badgeBgColor: #ff9800;
$badgeTextColor: #212121;

@import '../../sass/layout/_layout';
