$primaryColor: #607d8b;
$primaryTextColor: #ffffff;

$logoBgColor: #78909c;
$topbarBgColor: #607d8b;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #90a4ae;
$lightMenuitemActiveTextColor: #689f38;
$darkMenuitemActiveTextColor: #8bc34a;
$horizontalMenuitemActiveBgColor: #607d8b;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #607d8b;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
