$primaryColor: #9c27b0;
$primaryTextColor: #ffffff;

$logoBgColor: #ab47bc;
$topbarBgColor: #9c27b0;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #ba68c8;
$lightMenuitemActiveTextColor: #9c27b0;
$darkMenuitemActiveTextColor: #ba68c8;
$horizontalMenuitemActiveBgColor: #9c27b0;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #9c27b0;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
