$primaryColor: #03a9f4;
$primaryTextColor: #ffffff;

$logoBgColor: #29b6f6;
$topbarBgColor: #03a9f4;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #4fc3f7;
$lightMenuitemActiveTextColor: #2196f3;
$darkMenuitemActiveTextColor: #2196f3;
$horizontalMenuitemActiveBgColor: #2196f3;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #03a9f4;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
