$primaryColor: #00bcd4;
$primaryTextColor: #ffffff;

$logoBgColor: #26c6da;
$topbarBgColor: #00bcd4;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #4dd0e1;
$lightMenuitemActiveTextColor: #00bcd4;
$darkMenuitemActiveTextColor: #00bcd4;
$horizontalMenuitemActiveBgColor: #00bcd4;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #00bcd4;
$badgeTextColor: #212121;

@import '../../sass/layout/_layout';
