$primaryColor: #ffc107;
$primaryTextColor: #000000;

$logoBgColor: #ffca28;
$topbarBgColor: #ffc107;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #ffd54f;
$lightMenuitemActiveTextColor: #ffc107;
$darkMenuitemActiveTextColor: #ffc107;
$horizontalMenuitemActiveBgColor: #ffc107;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #ffc107;
$badgeTextColor: #212121;

@import '../../sass/layout/_layout';
