$primaryColor: #3f51b5;
$primaryTextColor: #ffffff;

$logoBgColor: #5c6bc0;
$topbarBgColor: #3f51b5;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #7986cb;
$lightMenuitemActiveTextColor: #5c6bc0;
$darkMenuitemActiveTextColor: #5c6bc0;
$horizontalMenuitemActiveBgColor: #5c6bc0;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #3f51b5;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
