$primaryColor: #cddc39;
$primaryTextColor: #ffffff;

$logoBgColor: #d4e157;
$topbarBgColor: #cddc39;
$topbarIconColor: #212121;
$topbarIconHoverBgColor: #dce775;
$lightMenuitemActiveTextColor: #9e9d24;
$darkMenuitemActiveTextColor: #cddc39;
$horizontalMenuitemActiveBgColor: #cddc39;
$horizontalMenuitemActiveTextColor: #000000;
$badgeBgColor: #cddc39;
$badgeTextColor: #212121;

@import '../../sass/layout/_layout';
