$primaryColor: #ffeb3b;
$primaryTextColor: #212121;

$logoBgColor: #ffee58;
$topbarBgColor: #ffeb3b;
$topbarIconColor: #212121;
$topbarIconHoverBgColor: #fff176;
$lightMenuitemActiveTextColor: #fbc02d;
$darkMenuitemActiveTextColor: #ffeb3b;
$horizontalMenuitemActiveBgColor: #ffeb3b;
$horizontalMenuitemActiveTextColor: #000000;
$badgeBgColor: #ffeb3b;
$badgeTextColor: #212121;

@import '../../sass/layout/_layout';
