$primaryColor: #4caf50;
$primaryTextColor: #ffffff;

$logoBgColor: #66bb6a;
$topbarBgColor: #4caf50;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #81c784;
$lightMenuitemActiveTextColor: #4caf50;
$darkMenuitemActiveTextColor: #4caf50;
$horizontalMenuitemActiveBgColor: #4caf50;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #4caf50;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
