$primaryColor: #673ab7;
$primaryTextColor: #ffffff;

$logoBgColor: #7e57c2;
$topbarBgColor: #673ab7;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #9575cd;
$lightMenuitemActiveTextColor: #673ab7;
$darkMenuitemActiveTextColor: #9575cd;
$horizontalMenuitemActiveBgColor: #673ab7;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #673ab7;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
