$primaryColor: #e91e63;
$primaryTextColor: #ffffff;

$logoBgColor: #ec407a;
$topbarBgColor: #e91e63;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #f06292;
$lightMenuitemActiveTextColor: #e91e63;
$darkMenuitemActiveTextColor: #e91e63;
$horizontalMenuitemActiveBgColor: #e91e63;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #e91e63;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
