$primaryColor: #795548;
$primaryTextColor: #ffffff;

$logoBgColor: #8d6e63;
$topbarBgColor: #795548;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #a1887f;
$lightMenuitemActiveTextColor: #795548;
$darkMenuitemActiveTextColor: #a1887f;
$horizontalMenuitemActiveBgColor: #795548;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #795548;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
