$primaryColor: #ff5722;
$primaryTextColor: #ffffff;

$logoBgColor: #ff7043;
$topbarBgColor: #ff5722;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #ff8a65;
$lightMenuitemActiveTextColor: #ff5722;
$darkMenuitemActiveTextColor: #ff5722;
$horizontalMenuitemActiveBgColor: #ff5722;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #ff5722;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
