$primaryColor: #8bc34a;
$primaryTextColor: #ffffff;

$logoBgColor: #9ccc65;
$topbarBgColor: #8bc34a;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #aed581;
$lightMenuitemActiveTextColor: #8bc34a;
$darkMenuitemActiveTextColor: #8bc34a;
$horizontalMenuitemActiveBgColor: #8bc34a;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #8bc34a;
$badgeTextColor: #ffffff;

@import '../../sass/layout/_layout';
